@font-face {
    font-family: Quantum; 
    src: url(Quantum-eZOXg.ttf);
}
@font-face {
    font-family: AlphaC;
    src:url(AlphaC.ttf);
}
@font-face {
    font-family: Inertia; 
    src: url(Inertia.ttf);
}
@font-face {
    font-family:Futuristic;
    src: url(Futuristic.ttf);
}
@font-face {
    font-family:FA;
    src: url(FuturisticArmour.ttf);
}

@font-face {
    font-family:Ethereal;
    src: url(Ethereal-Thin.otf);
}

body {background-color: #edf2fb;} 

.heading {
    border-style: solid;
    border-width: 2px;
    position: sticky;
    top:0;


    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;


}

@keyframes textcolor {
    from {color: #ddd0c8;}
    to {color: black;}
}

.logo-text {
    color : #000907;
    display: inline-block;
    margin-right: 5%;
    margin-left: 2%;
    text-align: justify;
    font-size: 40px;
    font-family: Ethereal;
}

.login-button {
    color : #000907;
    display: inline-block;
    text-align : right;

    border-style: solid;
    border-color: #000907;
    padding:10px;

    margin-left: 15%;
    
    font-size : 25px;
    font-family: Ethereal;

}

.login-button:hover {
    background-color: #abc4ff;
    transition-delay: 5ms;
}



.heading-text {
    color : #000907;
    text-align: center;
    display: inline-block;
    margin-right: 2%;
    font-size: 20px;
    font-family: Ethereal;
}

.login-text {
    color : #000907;
    text-align: center;
    display: inline-block;
    margin-right: 2%;
    font-size: 15px;
    font-family: Ethereal;
}

.login-section {
    background-color: #ccdbfd;
    text-align: center;

    margin-top:5%;
    margin-left: 25%;
    margin-right: 25%;
    
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    
    border-style: solid;



}


