@font-face {
    font-family: Quantum; 
    src: url(Quantum-eZOXg.ttf);
}
@font-face {
    font-family: AlphaC;
    src:url(AlphaC.ttf);
}
@font-face {
    font-family: Inertia; 
    src: url(Inertia.ttf);
}
@font-face {
    font-family:Futuristic;
    src: url(Futuristic.ttf);
}
@font-face {
    font-family:FA;
    src: url(FuturisticArmour.ttf);
}

body {background-color: black;} 
@keyframes bg {
    from {color: black;}
    to {color: beige;}
}


.title {
    font-family: FA;
    text-align:center;
    animation-name: bg;
    animation-duration: 2s;
}
.subheading {
    font-family: FA;
    text-align:center;
    animation-name: bg;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode:forwards;
}