@font-face {
    font-family: Future; 
    src: url(Quantum-eZOXg.ttf);
}
@font-face {
    font-family: AlphaC;
    src:url(AlphaC.ttf);
}
@font-face {
    font-family: Inertia; 
    src: url(Inertia.ttf);
}

body {background-color: black;}

.section1 {
        color:beige;
        font-family: Future;
        text-align:center;
    }